## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Saskylakh,RU,2021-10-02 16:32:40,71.9167,114.0833,18.97,97,100,3.18,overcast clouds
1,1,Ugoofaaru,MV,2021-10-02 16:32:41,5.6667,73.0000,81.88,78,99,14.36,moderate rain
2,2,Tarauaca,BR,2021-10-02 16:32:41,-8.1614,-70.7656,97.75,34,20,4.94,few clouds
3,3,Ushuaia,AR,2021-10-02 16:31:02,-54.8000,-68.3000,44.22,56,75,6.91,broken clouds
4,4,Albany,US,2021-10-02 16:30:28,42.6001,-73.9662,71.31,69,93,1.01,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Ugoofaaru,MV,2021-10-02 16:32:41,5.6667,73.0000,81.88,78,99,14.36,moderate rain
5,5,Hithadhoo,MV,2021-10-02 16:32:42,-0.6000,73.0833,82.96,74,40,9.44,scattered clouds
6,6,Moyale,KE,2021-10-02 16:32:42,3.5167,39.0584,76.98,39,100,6.71,overcast clouds
7,7,Guarapari,BR,2021-10-02 16:32:43,-20.6667,-40.4975,87.69,71,98,14.83,overcast clouds
9,9,Bandarbeyla,SO,2021-10-02 16:32:44,9.4942,50.8122,79.92,77,35,21.92,scattered clouds
16,16,Bengkulu,ID,2021-10-02 16:32:48,-3.8004,102.2655,76.84,91,91,6.31,overcast clouds
25,25,Gizo,SB,2021-10-02 16:32:52,-8.1030,156.8419,82.15,74,100,3.40,overcast clouds
29,29,Itanhaem,BR,2021-10-02 16:32:54,-24.1831,-46.7889,86.25,78,94,7.29,overcast clouds
37,37,Kapaa,US,2021-10-02 16:32:58,22.0752,-159.3190,75.52,83,75,1.01,light rain
47,47,Morgan City,US,2021-10-02 16:33:03,29.6994,-91.2068,82.99,94,75,6.91,broken clouds

In [5]:
len(preferred_cities_df)

224

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                224
City                   224
Country                221
Date                   224
Lat                    224
Lng                    224
Max Temp               224
Humidity               224
Cloudiness             224
Wind Speed             224
Weather Description    224
dtype: int64

In [7]:
# 4a+. Print the NaN rows.
is_NaN = preferred_cities_df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN= preferred_cities_df[row_has_NaN]

rows_with_NaN

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
118,118,Eenhana,NaN,2021-10-02 16:33:40,-17.4667,16.3333,87.55,13,3,5.44,clear sky
305,305,Tsumeb,NaN,2021-10-02 16:35:24,-19.2333,17.7167,85.55,9,17,14.72,few clouds
532,532,Ongandjera,NaN,2021-10-02 16:37:46,-17.8833,15.0667,82.51,10,33,13.38,scattered clouds

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Ugoofaaru,MV,2021-10-02 16:32:41,5.6667,73.0000,81.88,78,99,14.36,moderate rain
5,5,Hithadhoo,MV,2021-10-02 16:32:42,-0.6000,73.0833,82.96,74,40,9.44,scattered clouds
6,6,Moyale,KE,2021-10-02 16:32:42,3.5167,39.0584,76.98,39,100,6.71,overcast clouds
7,7,Guarapari,BR,2021-10-02 16:32:43,-20.6667,-40.4975,87.69,71,98,14.83,overcast clouds
9,9,Bandarbeyla,SO,2021-10-02 16:32:44,9.4942,50.8122,79.92,77,35,21.92,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
655,655,Sikonge,TZ,2021-10-02 16:38:49,-5.6333,32.7667,81.97,21,30,1.63,scattered clouds
656,656,Navalgund,IN,2021-10-02 16:38:50,15.5667,75.3667,79.88,69,67,8.86,broken clouds
659,659,Isla Mujeres,MX,2021-10-02 16:38:51,21.2311,-86.7310,87.85,69,27,13.13,scattered clouds
660,660,Garissa,KE,2021-10-02 16:38:52,-0.4536,39.6401,84.42,45,44,24.38,scattered clouds
664,664,Kyaikkami,MM,2021-10-02 16:38:54,16.0800,97.5675,80.74,83,100,5.53,overcast clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = "NaN"
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Ugoofaaru,MV,81.88,moderate rain,5.6667,73.0000,NaN
5,Hithadhoo,MV,82.96,scattered clouds,-0.6000,73.0833,NaN
6,Moyale,KE,76.98,overcast clouds,3.5167,39.0584,NaN
7,Guarapari,BR,87.69,overcast clouds,-20.6667,-40.4975,NaN
9,Bandarbeyla,SO,79.92,scattered clouds,9.4942,50.8122,NaN
16,Bengkulu,ID,76.84,overcast clouds,-3.8004,102.2655,NaN
25,Gizo,SB,82.15,overcast clouds,-8.1030,156.8419,NaN
29,Itanhaem,BR,86.25,overcast clouds,-24.1831,-46.7889,NaN
37,Kapaa,US,75.52,light rain,22.0752,-159.3190,NaN
47,Morgan City,US,82.99,broken clouds,29.6994,-91.2068,NaN

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"] 
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Ugoofaaru,MV,81.88,moderate rain,5.6667,73.0000,Ungoofaaru Inn
5,Hithadhoo,MV,82.96,scattered clouds,-0.6000,73.0833,Scoop Guest House
6,Moyale,KE,76.98,overcast clouds,3.5167,39.0584,La Tahzan Guest House
7,Guarapari,BR,87.69,overcast clouds,-20.6667,-40.4975,Hotel Porto do Sol
9,Bandarbeyla,SO,79.92,scattered clouds,9.4942,50.8122,JABIR HOTEL
...,...,...,...,...,...,...,...
655,Sikonge,TZ,81.97,scattered clouds,-5.6333,32.7667,Pretoria 2 Lodge
656,Navalgund,IN,79.88,broken clouds,15.5667,75.3667,Naveen Park Hotel
659,Isla Mujeres,MX,87.85,scattered clouds,21.2311,-86.7310,Hotel La Joya Isla Mujeres
660,Garissa,KE,84.42,scattered clouds,-0.4536,39.6401,Sharif Plaza Hotel
664,Kyaikkami,MM,80.74,overcast clouds,16.0800,97.5675,St. joseph catholic church

In [20]:
# 8a. Create the output File (CSV)
hotel_df.to_csv("../Vacation_Search/hotels.csv")
# 8b. Export the City_Data into a csv
preferred_cities_df.to_csv("cities.csv", index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<d1>
<dt>Hotel Name>/dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</d1>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))